.message-box.first{data: {message: {id: message.id}}}
  .message-box__message-info
    .message-box__message-info--username
      = message.user.name
    .message-box__message-info--date-time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-box__sent-message
    - if message.body.present?
      %p.message-box__sent-message__body
        = message.body
    = image_tag message.image.url, class: 'message-box__sent-message__image' if message.image.present?