.main-chat {
  height: 100vh;
  width: calc( 100vw - 300px);
  background-color: $baseWhite;
  float: right;
  &__group-info {
    height: 100px;
    width: 100%;
    background-color: $baseWhite;
    border-bottom: 1px solid #eeeeee;
    @include space-between;
    &--leftbox {
      margin-left: 40px;
      .current-group {
        padding-top: 35px;
        padding-bottom: 15px;
        color: #333333;
        font-size: 20px;
      }
      .member-list {
        display: flex;
        color: #999999;
        font-size: 12px;
        list-style: none;
      }
      li {
        padding-left: 5px;
      }
    }
    &--edit-btn {
      text-decoration: none;
      height: 40px;
      width: 72px;
      margin-top: 28px;
      margin-right: 40px;
      line-height: 40px;
      padding: 0 20px;
      color: #38aef0;
      font-size: 16px;
      border: solid 1px #38aef0;
      a:visited { color:#38aef0; text-decoration: none;}
      a:active { color:#38aef0; text-decoration: none;}
      .EditLink {
        text-decoration: none;
      }
    }
  }
  &__message-list {
    height: calc( 100vh - 100px - 90px);
    width: 100%;
    background-color: #fafafa;
    overflow: scroll;
    .message-box.first {
      padding-top: 35px;
    }
    .message-box {
      padding-top: 46px;
      padding-left: 40px;
      &__message-info {
        display: flex;
        height: 20px;
        &--username {
          color: #333333;
          font-size: 16px;
          line-height: 20px;
        }
        &--date-time {
          color: #999999;
          font-size: 12px;
          margin-left: 4px;
        }
      }
      &__sent-message {
        padding-top: 12px;
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__message-form {
    height: 90px;
    width: 100%;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    .create-box {
      height: 50px;
      width: 100%;
      margin: 0 40px;
      display: -webkit-flex;
      display: flex;
      .new_message {
        width: 100%;
        @include space-between;
      }
      &__contents {
        height: 100%;
        width: calc( 100vw - 300px - 80px - 15px - 100px);
        -webkit-flex: 1;
        flex: 1;
        position: relative;
        @include space-between;
        &--message {
          height: 100%;
          width: 100%;
          border: none;
          padding: 0 10px;
        }
        &--image {
          height: 100%;
          width: 40px;
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          .file-choice {
            padding: 0 10px;
            &__icon {
              font-size: 2em;
            }
            input {
              display: none;
            }
          }
        }
      }
      .send-btn {
        background-color: skyblue;
        color: $baseWhite;
        font-size: 16px;
        font-weight: bold;
        height: 100%;
        width: 100px;
        margin-left: 15px;
        padding: 0 32px;
      }
    }
  }
}